#container{
	width:800px;
	height:900px;
	margin-left:auto;
	margin-right:auto;
	background-color:#2ecc71;
	
	
	
	
}
#logo{
	width:200px;
	height:200px;
	background-color:black;
	background-image: url(../ımages/logo.png);
	display:block;
	float:left;
	
	
	
	
}
#banner{
	width:600px;
	height:200px;
	background-color:white;
	background-image: url(../ımages/banner.jpg);
	background-repeat:repeat-x;
	display:block;
	float:left;
	
	
	
	
}
#menu{
	width:800px;
	height:50px;
	background-color:#e74c3c;
	clear:both;
	text-align: center;
	
	
	
	
}
#content{
	width:500px;
	height:600px;
	background-color:#f1c40f;
	display:inline;
	float:left;
	
	
	
	
	
}
#artivise{
	width:300px;
	height:600px;
	background-color:black;
	background-image: url(../ımages/reklam.jpg);
	display:block;
	float:left;
	
	
	
	
	
}
#footer{
	width:800px;
	height:50px;
	background-image: url(../ımages/hakan.png);
	background-color:grey;
	clear:both;
	
	
	
}
h1{
	text-align:center;
	
	
}









