body{
	background-image:url(../ımages/body-bg.png);
	background-repeat:repeat-x;
	background-color:#C1DEEE;
	font-family:Arial;
	text-align:justify;
	line-height:2;
}
#container{
	width:600px;
	height:950px;
	padding:15px;
	background-color:white;
	border:solid 2px #8fc1da;
	margin-left:auto;
	margin-right:auto;
}
h1{
	font-family:Trebuchet ms;
	font-size:24px;
	text-align:center;
}
a{
	color:#328bbd;
	text-decoration:none;
	
}
img{
	border-bottom: solid 8px #8fc1da;
}
a:hover{
	text-decoration:underline;
	
	
}
h2{
	font-size:18px;
	color:#328bbd;
	
	
}

p{
	font-size:12px;
	font-weight:bold;
	
}
#kırmızı{
	color:red;
}
#yesıl{
	color:#54a24b;
	
}


