#kutu1{
	width:342px;
	height:180px;
	background-color:#9B59B6;
	margin:50px 100px 0px 75px;
	padding-top:45px;
	padding-left:20px;
	border: 20px #95A5A6 double;
	border-right:10px #34495E dashed;
	border-bottom:5px #ECF0F1 dotted;
	border-left:12px #E74C3C solid;
    border-radius:10px;

	
	
	
	
}