#container{
	width:1250px;
	height:1000px;
	background-color:white;
	

}
#siyahk{
	width:1250px;
	height:100px;
	background-color:black;
	opacity:0.7;
     
}
#resım{
	width:1250px;
	height:539px;
	background-image:url(../ımages/02.png);
	
	
}
#yazı{
	width:200px;
	height:50px;
	color:white;
	margin-top:-80px;
	margin-left:200px;
	font-size:10px;
	
	
	
}
#ortayazı{
	color:white;
	font-size:25px;
	margin-left:400px;
	margin-top:170px;
	
}
p{
	text-align:center;
	
	
}