body{
	background-image: url(../ımages/duvar.jpg);
}
h1{
	text-align:center;
	text-decoration:overline;
	text-transform:lowercase;
	

}
#onemli{
	background-color:white;
	color:blue;
	text-align:right;
	text-decoration:line-through;
	text-transform:uppercase;

	
}
.onemsiz{
	background-color:white;
	color:blue;
	text-align:right;
	text-decoration:line-through;
}
#i
{
	color:red;
}
.paragraf{
	font-family:verdana;
	font-size:20px;
    font-style:italic;
	text-transform:capitalize;
	letter-spacing:0.1cm;
	word-spacing:1cm;
	
}
.paragraf2{
	font-weight:bold;
	font-family:arial;
	text-indent:20px;
	text-transform:lowercase;
	letter-spacing:0.5cm;
	word-spacing:0.5cm;
}
a{
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	word-spacing:0.05cm;
	letter-spacing:1cm;
}