#container{
	width:800px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
	
}
#banner{
	width:800px;
	height:150px;
	background-image:url(../ımages/banner.png);
	opacity:0.9;
	border-bottom: 1px solid #FFF200;
    
	
}
#content{
	width:800px;
	height:480px;
	background-color:black;
	
	
	
}
img{
	margin-top:15px;
	margin-left:10px;
	border-radius:10px;
	
	
}
#menu{

	width:800px;
	height:auto;
    margin:0 auto;
}
#menu ol{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
}
#menu li a{
	text-decoration:none;
	color:white;
	background-color:#0000B2;
	display:block;
	text-align:center;
	line-height:40px;
	
	border-bottom: 1px solid #0000B2;
	
	
}
#menu ol li{
	display:inline;
	float:left;
	width:160px;
	
	
}
#menu li ol {
	display:none;
	
	
}
#menu a:hover{
	display:block;
	background-color:white;
	color:#0000B2;
	border-bottom:1px solid  #FFF200;

	
}
#menu li:hover ol{
	display:block;
	position:absolute;
	
	left:320px;
	top:40px;
	width:160px;
	border-bottom:0px solid #0000B2;
	
}


