#container{
	width:800px;
	height:900px;
	background-color:#4D4DFF;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	width:200px;
	height:200px;
	background-color:#FF2626;
	display:inline;
	float:left;
	text-align:center;
}
#banner{
	width:600px;
	height:200px;
	background-color:#FFD24D;
	display:inline;
	float:left;
	text-align:center;
}
#menu{
	width:800px;
	height:50px;
	background-color:#96FF73;
	clear:both;
	text-align:center;
}
#content{
	width:500px;
	height:600px;
	background-color:#008C8C;
	display:inline;
	float:left;
	text-align:center;
}
#artivise{
	width:300px;
	height:600px;
	background-color:#00FFFF;
	display:inline;
	float:left;
	text-align:center;
}
#footer{
	width:800px;
	height:50px;
	background-color:#BFFFBF;
	display:inline;
	float:left;
	text-align:center;
	
	
	
}



