body{
	background-image:url(../ımages/yaprak.png);
	font-family:sans-serif;
	color:#666;
	font-size:0.9em;
    text-align:justify;
}
#container{
	width:650px;
	/*height:1500px;*/
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}
#banner{
	width:650px;
	height:150px;
	background-image:url(../ımages/banner.png);
	border-bottom:solid 8px #0069b4;
}
#content{
	padding:15px;
	
	
	
}
h1{
	color:#688816;
	border-bottom: solid 2px #688816;
	margin:0px auto 0px auto;
	
}
h2{
	color:#ea5b0c;
}
.kparagraf{
	color:black;
	font-family:Tahoma;
	font-weight:bolder;
}


#menekse{
	
	font-weight:bold;
	color:#a00057;
	
}
#footer{
	width:630px;
	height:16px;
	background-color:#222;
	color:#eee;
	padding:10px;
	
	
}

img{
	padding:5px;
	border: solid 2px #CCC;
	
	
}






